@import (less) "../libs/bootstrap/less/bootstrap.less";

@lightgrey: #C8C8C8;
@darkgrey: #727272;
@darkblue: #1C304A;
@lightblue: #5186D5;
@accentorange: #FFBF51;


.bb-header {
  height: 100px;
  border-bottom: 10px black;

  .bb-logo {
    background-color: @lightblue;
    font-size: 38px;

    .bb-logo-text {
      color: @lightgrey;
    }
  }
}
